<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.exam.answer.mapper.ExamMapper">

    <resultMap type="cn.qbs.wa.teach.exam.common.entity.Exam" id="ExamMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="examName" column="exam_name" jdbcType="VARCHAR"/>
        <result property="paperId" column="paper_id" jdbcType="INTEGER"/>
        <result property="paperScore" column="paper_score" jdbcType="NUMERIC"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="shelfStatus" column="shelf_status" jdbcType="INTEGER"/>
        <result property="edited" column="edited" jdbcType="INTEGER"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="difficulty" column="difficulty" jdbcType="INTEGER"/>
        <result property="duration" column="duration" jdbcType="INTEGER"/>
        <result property="limitCount" column="limit_count" jdbcType="INTEGER"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="releaseMode" column="release_mode" jdbcType="INTEGER"/>
        <result property="passScore" column="pass_score" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="admissionStartTime" column="admission_start_time"/>
        <result property="admissionEndTime" column="admission_end_time"/>
    </resultMap>

    <select id="selectExamByExamineeRecordId" resultType="cn.qbs.wa.teach.exam.common.entity.Exam">
        select e.*
        from examinee_record er
            left join examinee en on er.examinee_id = en.id
            left join exam e on en.exam_id = e.id
        where er.id = #{examineeRecordId}
    </select>

    <select id="selectExamById" resultMap="examVOMap">
        select e.*, er.rule_id, r.code, r.rule_name, r.type
        from exam e
            left join exam_rule er on e.id = er.exam_id
            left join rule r on er.rule_id = r.id
        where e.id = #{examId}
    </select>

    <select id="selectHasRule" resultType="java.lang.Boolean">
        select if(r.id is not null, 1, 0)
        from exam e left join exam_rule er on e.id = er.exam_id
            left join rule r on er.rule_id = r.id
        where e.id = #{examId} and r.`code` = #{ruleCode};
    </select>

    <resultMap id="examVOMap" type="cn.qbs.wa.teach.exam.answer.pojo.ExamVO">
        <id property="id" column="id"/>
        <result property="examName" column="exam_name"/>
        <result property="paperId" column="paper_id"/>
        <result property="examMode" column="exam_mode"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="admissionStartTime" column="admission_start_time"/>
        <result property="admissionEndTime" column="admission_end_time"/>
        <result property="duration" column="duration"/>
        <result property="totalScore" column="paper_score"/>
        <result property="limitCount" column="limit_count"/>
        <result property="introduction" column="introduction"/>
        <result property="status" column="status"/>
        <result property="shelfStatus" column="shelf_status"/>
        <result property="userVisible" column="user_visible"/>
        <collection property="examRuleList" ofType="cn.qbs.wa.teach.exam.answer.pojo.ExamVO$ExamRule">
            <id property="id" column="rule_id"/>
            <result property="code" column="code"/>
            <result property="ruleName" column="rule_name"/>
            <result property="type" column="type"/>
        </collection>
    </resultMap>

    <select id="centerPage" resultType="cn.qbs.wa.teach.exam.answer.pojo.center.PageResponse">
        SELECT DISTINCT
            e.id,
            e.exam_name,
            e.paper_id,
            e.paper_score,
            e.pass_score,
            e.exam_mode,
            e.start_time,
            e.end_time,
            e.admission_start_time,
            e.admission_end_time,
            e.limit_count,
            e.difficulty,
            e.`status`,
            e.duration
        FROM
            exam e
            LEFT JOIN exam_user_visible euv ON euv.exam_id = e.id
        where e.shelf_status = 1 AND e.enabled =1 AND (e.user_visible = 1 OR (e.user_visible = 2 AND euv.user_id = #{params.userId}))
        <if test="params.orgId != null">
            AND e.org_id = #{params.orgId}
        </if>
        <choose>
            <when test="params.status != null and params.status !=''">
                AND e.status = #{params.status}
            </when>
            <otherwise>
                AND e.status in (1, 2)
            </otherwise>
        </choose>
        <if test="params.difficulty != null">
            AND e.difficulty = #{params.difficulty}
        </if>
        <if test="params.examName != null and params.examName != '' ">
            AND e.exam_name like concat('%', #{params.examName}, '%')
        </if>
        <choose>
            <when test="params.status == 3">
                ORDER BY e.end_time desc,e.start_time desc,e.id DESC
            </when>
            <otherwise>
                ORDER BY e.end_time asc,e.start_time asc,e.id DESC
            </otherwise>
        </choose>
    </select>

    <select id="recordPage" resultType="cn.qbs.wa.teach.exam.answer.pojo.center.PageResponse">
        SELECT DISTINCT
        e.id,
        e.exam_name,
        e.paper_id,
        e.paper_score,
        e.pass_score,
        e.exam_mode,
        e.start_time,
        e.end_time,
        e.admission_start_time,
        e.admission_end_time,
        e.limit_count,
        e.difficulty,
        e.`status`,
        e.duration
        FROM
        exam e
        LEFT JOIN examinee ee ON ee.exam_id = e.id
        LEFT JOIN examinee_record er ON er.examinee_id = ee.id
        WHERE e.status in (2, 3) AND ee.user_id = #{params.userId}
        <if test="params.orgId != null">
            AND e.org_id = #{params.orgId}
        </if>
        <if test="params.difficulty != null">
            AND e.difficulty = #{params.difficulty}
        </if>
        <if test="params.examName != null and params.examName != '' ">
            AND e.exam_name like concat('%', #{params.examName}, '%')
        </if>
        ORDER BY e.end_time desc,e.start_time desc,e.id DESC
    </select>

    <select id="calculatedExamRecordByExamIds" resultType="cn.qbs.wa.teach.exam.answer.pojo.center.ExamineRecordResponse">
        SELECT
            nee.id AS examineeId,
            nee.exam_id,
            nee.remaining_times,
            er.`status` AS studentExamStatus,
            er.score AS highestScore
        FROM
            examinee nee
            INNER JOIN examinee_record er ON er.examinee_id = nee.id AND er.calculated = 1
        WHERE
            nee.user_id = #{userId}
            AND nee.exam_id IN
            <foreach collection="examIds" item="examId" open="(" close=")" separator=",">
                #{examId}
            </foreach>
    </select>

    <select id="calculatedExamRecordByNeeId" resultType="cn.qbs.wa.teach.exam.answer.pojo.center.ExamineRecordResponse">
        SELECT
            er.calculated,
            er.create_time,
            er.examinee_id,
            er.`status` AS studentExamStatus,
            er.score AS highestScore
        FROM examinee_record er
        WHERE
            er.examinee_id = #{examineeId}
    </select>

</mapper>

