<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.exam.answer.mapper.RuleMapper">

    <resultMap type="cn.qbs.wa.teach.exam.common.entity.Rule" id="RuleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="groupCode" column="group_code" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="uiType" column="ui_type" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectOneByExamIdAndCode" resultType="cn.qbs.wa.teach.exam.common.entity.Rule">
        select r.*
        from exam_rule er left join rule r on er.rule_id = r.id
        where er.exam_id = #{examId} and r.code = #{ruleCode}
    </select>

</mapper>

