/* 颜色 */
@each $type, $color in (
  primary: $uni-color-primary,
  success: $uni-color-success,
  warning: $uni-color-warning,
  error: $uni-color-error,
  3: #333,
  6: #666,
  9: #999
) {
  .text-#{$type} {
    color: $color;
  }
  .bg-#{$type} {
    background-color: $color;
  }
}

/* 文字 */
.text-price::before {
  content: "¥";
  font-size: 80%;
  margin-right: 2px;
}