@font-face {
  font-family: "iconfont"; /* Project id 3501558 */
  src: url('iconfont.woff2?t=1657699752050') format('woff2'),
       url('iconfont.woff?t=1657699752050') format('woff'),
       url('iconfont.ttf?t=1657699752050') format('truetype'),
       url('iconfont.svg?t=1657699752050#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-commodity_man_icon:before {
  content: "\e62a";
}

.icon-shopping_mall_icon:before {
  content: "\e62b";
}

.icon-order_record_icon:before {
  content: "\e62d";
}

.icon-applic_icon:before {
  content: "\e629";
}

.icon-account_set_icon:before {
  content: "\e620";
}

.icon-user_man_icon:before {
  content: "\e625";
}

.icon-role_man_icon:before {
  content: "\e626";
}

.icon-caidanguanli:before {
  content: "\e638";
}

.icon-tupian:before {
  content: "\e622";
}

.icon-list_icon:before {
  content: "\e61f";
}

.icon-set_up_icon:before {
  content: "\e614";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-emojn_icon:before {
  content: "\e61b";
}

.icon-fold_down_icon:before {
  content: "\e61c";
}

.icon-fold_up_icon:before {
  content: "\e61d";
}

.icon-gongzuotai:before {
  content: "\ea9a";
}

.icon-wechat-fill:before {
  content: "\e775";
}

.icon-zhifubao:before {
  content: "\e627";
}

.icon-weixin:before {
  content: "\e613";
}

.icon-fullscreen-fill:before {
  content: "\e624";
}

.icon-shanchu:before {
  content: "\e78d";
}

.icon--spread:before {
  content: "\e611";
}

.icon-jinzhi:before {
  content: "\e628";
}

.icon-qiehuan:before {
  content: "\e647";
}

.icon--spread-copy:before {
  content: "\e776";
}

.icon-plus_icon:before {
  content: "\e60c";
}

.icon-select_icon:before {
  content: "\e60e";
}

.icon-t_camera_icon:before {
  content: "\e617";
}

.icon-t_voice_icon:before {
  content: "\e619";
}

.icon-voice_icon:before {
  content: "\e61a";
}

.icon-pingmugongxiang:before {
  content: "\e746";
}

.icon-tishi:before {
  content: "\e637";
}

.icon-saying:before {
  content: "\e631";
}

.icon-weibiaoti37:before {
  content: "\e636";
}

.icon-guanbi:before {
  content: "\e6ae";
}

.icon-bianji:before {
  content: "\e60a";
}

.icon-youjiantou:before {
  content: "\e62f";
}

.icon-zuojiantou:before {
  content: "\e630";
}

.icon-bangzhu:before {
  content: "\e615";
}

.icon-ico_open:before {
  content: "\e662";
}

.icon-shangjiantou:before {
  content: "\e692";
}

.icon--add:before {
  content: "\e616";
}

.icon-tiku:before {
  content: "\e621";
}

.icon-xiazai:before {
  content: "\e674";
}

.icon-yunduanshangchuan:before {
  content: "\ec1d";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-tubiao_wuxing-1:before {
  content: "\e60b";
}

.icon-wj-zs:before {
  content: "\e72b";
}

.icon-zhaokecheng:before {
  content: "\e618";
}

.icon-xianshi:before {
  content: "\e6d1";
}

.icon-erweima:before {
  content: "\e68b";
}

.icon-sixin:before {
  content: "\e635";
}

.icon-chexiao:before {
  content: "\e610";
}

.icon-guanlian:before {
  content: "\e851";
}

.icon-Ins_man_icon:before {
  content: "\e600";
}

.icon-lib_man_icon:before {
  content: "\e602";
}

.icon-pla_man_icon:before {
  content: "\e603";
}

.icon-exa_man_icon:before {
  content: "\e604";
}

.icon-library:before {
  content: "\e605";
}

.icon-data:before {
  content: "\e607";
}

.icon-Res_lib_icon:before {
  content: "\e608";
}

.icon-live_ast:before {
  content: "\e609";
}

.icon-biaoqian:before {
  content: "\e710";
}

.icon-return_icon:before {
  content: "\e60d";
}

.icon-quick_icon:before {
  content: "\e60e";
}

.icon-stu_icon:before {
  content: "\e60f";
}

.icon-shaixuan:before {
  content: "\e612";
}

.icon-shuaxin:before {
  content: "\e601";
}

.icon-yincang2:before {
  content: "\e665";
}

.icon-calendar:before {
  content: "\e670";
}

.icon-checkbox_check:before {
  content: "\e62c";
}

.icon-radio_uncheck:before {
  content: "\e623";
}

