/** 品牌色 **/
// 主色
MAIN_COLOR = #C63636
// 辅助色
SUB_COLOR = #1BCEC8
// 辅助色
SUB_LIGHT_COLOR = #C8FFFA
// 点缀色
EMBELLISH_COLOR = #FEC33F
// 点缀色
EMBELLISH_LIGHT_COLOR = #FFF1EB

/** 状态色 **/
NORMAL_COLOR = MAIN_COLOR
HOVER_COLOR = #1F50B8
ACTIVE_COLOR = #103C99
DISABLED_COLOR = #426CC3
SHADOW_COLOR = #D3E0FB
BACKGROUND_COLOR = #FFF5F5

// 全局背景色
GLOBAL_BACKGROUND_COLOR = #F8FAFC

// hover颜色
HOVER_BACKGROUND_COLOR = #FFF5F5
HOVER_TEXT_COLOR = #1D61F2

/** 功能色 **/
// 成功
SUCCESS_COLOR = #13C97F
// 出错/提醒
WARNING_COLOR = #FE993A
// 失败
ERROR_COLOR = #FF4B5B
// 信息
INFO_COLOR = #1B9CFC

/** 中性色 **/
// 二级导航底色
NEUTRAL_COLOR_0C = #FFF5F5
// 一级导航底色
NEUTRAL_COLOR_1C = #FFFFFF
// 导航文字默认色
NEUTRAL_COLOR_95 = #959A9F

// 一级标题
NEUTRAL_COLOR_3 = #333
// 二级标题
NEUTRAL_COLOR_6 = #666
// 说明文字
NEUTRAL_COLOR_9 = #999
// 提示文字
NEUTRAL_COLOR_C = #CCC
// 间隔线
NEUTRAL_COLOR_E = #EEE
NEUTRAL_COLOR_E6 = #E6E6E6
// 白色
NEUTRAL_COLOR_F = #FFF
// 全局背景色
NEUTRAL_COLOR_F2 = #F2F2F2