<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.union.auth.mapper.UniUserMapper">

    <resultMap type="cn.qbs.wa.union.auth.entity.UniUser" id="UniUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="headImgUrl" column="head_img_url" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
        <result property="idNumber" column="id_number" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into uni_user(account, phone, email, password, salt, nick_name, real_name, head_img_url, sex, enabled, id_number, create_time, update_time, create_by, update_by)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.account}, #{entity.phone}, #{entity.email}, #{entity.password}, #{entity.salt}, #{entity.nickName}, #{entity.realName}, #{entity.headImgUrl}, #{entity.sex}, #{entity.enabled}, #{entity.idNumber}, #{entity.createTime}, #{entity.updateTime}, #{entity.createBy}, #{entity.updateBy})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into uni_user(account, phone, email, password, salt, nick_name, real_name, head_img_url, sex, enabled, id_number, create_time, update_time, create_by, update_by)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.account}, #{entity.phone}, #{entity.email}, #{entity.password}, #{entity.salt}, #{entity.nickName}, #{entity.realName}, #{entity.headImgUrl}, #{entity.sex}, #{entity.enabled}, #{entity.idNumber}, #{entity.createTime}, #{entity.updateTime}, #{entity.createBy}, #{entity.updateBy})
        </foreach>
        on duplicate key update
        account = values(account) , phone = values(phone) , email = values(email) , password = values(password) , salt = values(salt) , nick_name = values(nick_name) , real_name = values(real_name) , head_img_url = values(head_img_url) , sex = values(sex) , enabled = values(enabled) , id_number = values(id_number) , create_time = values(create_time) , update_time = values(update_time) , create_by = values(create_by) , update_by = values(update_by)         $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.union.auth.pojo.uniuser.UniUserPageResponse">
        select *
        from uni_user
        <where>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.union.auth.pojo.uniuser.UniUserDetailResponse">
        select *
        from uni_user
        where id = #{id}
    </select>
</mapper>

