<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.train.logistics.mapper.DormitoryMapper">

    <resultMap type="cn.qbs.wa.train.logistics.entity.Dormitory" id="DormitoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="building" column="building" jdbcType="VARCHAR"/>
        <result property="floor" column="floor" jdbcType="VARCHAR"/>
        <result property="roomNo" column="room_no" jdbcType="VARCHAR"/>
        <result property="roomType" column="room_type" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into dormitory(building, floor, room_no, room_type, remark, enabled, deleted,
        create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.building}, #{entity.floor}, #{entity.roomNo}, #{entity.roomType}, #{entity.remark},
            #{entity.enabled}, #{entity.deleted}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy},
            #{entity.updateTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into dormitory(building, floor, room_no, room_type, remark, enabled, deleted,
        create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.building}, #{entity.floor}, #{entity.roomNo}, #{entity.roomType}, #{entity.remark},
            #{entity.enabled}, #{entity.deleted}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy},
            #{entity.updateTime})
        </foreach>
        on duplicate key update
        building = values(building) , floor = values(floor) , room_number = values(room_number) , room_type =
        values(room_type) , remark = values(remark) , enabled = values(enabled) , deleted = values(deleted) , create_by
        = values(create_by) , create_time = values(create_time) , update_by = values(update_by) , update_time =
        values(update_time) $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.train.logistics.pojo.dormitory.DormitoryPageResponse">
        select d.*
        from dormitory d
        <where>
            deleted = 0
            <if test="params.building != null and params.building != '' ">
                and building = #{params.building}
            </if>
            <if test="params.floor != null and params.floor != '' ">
                and floor = #{params.floor}
            </if>
            <if test="params.roomNo != null and params.roomNo != '' ">
                and room_no = #{params.roomNo}
            </if>
            <if test="params.enabled != null and params.enabled != '' ">
                and enabled = #{params.enabled}
            </if>
            <if test="params.roomType != null and params.roomType != '' ">
                and room_type = #{params.roomType}
            </if>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="pages" resultType="cn.qbs.wa.train.logistics.pojo.dormitory.DormitoryPageResponse">
        select d.*
        from dormitory d
        <where>
            deleted = 0
            <if test="params.building != null and params.building != '' ">
                and building = #{params.building}
            </if>
            <if test="params.floor != null and params.floor != '' ">
                and floor = #{params.floor}
            </if>
            <if test="params.roomNo != null and params.roomNo != '' ">
                and room_no = #{params.roomNo}
            </if>
            <if test="params.enabled != null and params.enabled != '' ">
                and enabled = #{params.enabled}
            </if>
            <if test="params.roomType != null and params.roomType != '' ">
                and room_type = #{params.roomType}
            </if>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.train.logistics.pojo.dormitory.DormitoryDetailResponse">
        select *
        from dormitory
        where id = #{id} and deleted = 0
    </select>

    <select id="pageCount" resultType="cn.qbs.wa.train.logistics.pojo.dormitoryschedule.UseDateStateCount">
        select room_type,count(id) as freeNum
        from dormitory
        group by room_type
    </select>
</mapper>

