<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.train.logistics.mapper.IndexMapper">

    <select id="listOrg" resultType="cn.qbs.wa.train.logistics.pojo.index.OrgInfoResponse">
        SELECT
            o.id AS org_id, o.`name` AS org_name, o.enabled, o.pc_logo_url, o.h5_logo_url, o.category, GROUP_CONCAT(r.`name` SEPARATOR ',') AS roleNames
        FROM
            employee e
            INNER JOIN organization o ON o.id = e.org_id
            LEFT JOIN employee_role er ON er.employee_id = e.id
            LEFT JOIN organization_role r ON r.id = er.role_id AND r.enabled = 1
            WHERE e.user_id = #{userId} AND e.enabled = 1
        GROUP BY o.id
    </select>

</mapper>