<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.train.logistics.mapper.LiteStatisticMapper">

    <select id="totalStudentNum" resultType="int">
        SELECT COUNT(id) FROM `train_teach_organization`.`student`
    </select>

    <select id="totalOrgNum" resultType="int">
        SELECT COUNT(id) FROM organization
    </select>

    <select id="attendClass" resultType="cn.qbs.wa.train.logistics.pojo.stat.AttendClassResponse">
        SELECT cl.`id` AS clazzId, cl.`name` AS clazzName, cl.start_date, cl.end_date, o.`name` AS orgName, clr.room_no AS classroom
        FROM
            clazz cl
            INNER JOIN organization o ON o.id = cl.org_id
            LEFT JOIN classroom clr ON clr.id = cl.classroom_id
        WHERE #{startDate} BETWEEN cl.start_date AND cl.end_date OR #{endDate} BETWEEN cl.start_date AND cl.end_date
        LIMIT 3
    </select>

    <select id="totalAttendClass" resultType="java.lang.Integer">
        SELECT COUNT(cl.`id`)
        FROM
            clazz cl
            INNER JOIN organization o ON o.id = cl.org_id
        WHERE #{startDate} BETWEEN cl.start_date AND cl.end_date OR #{endDate} BETWEEN cl.start_date AND cl.end_date
    </select>

    <select id="attendClassPage" resultType="cn.qbs.wa.train.logistics.pojo.stat.AttendClassResponse">
        SELECT cl.`id` AS clazzId, cl.`name` AS clazzName, cl.start_date, cl.end_date, o.`name` AS orgName, clr.room_no AS classroom
        FROM
            clazz cl
            INNER JOIN organization o ON o.id = cl.org_id
            LEFT JOIN classroom clr ON clr.id = cl.classroom_id
        WHERE #{startDate} BETWEEN cl.start_date AND cl.end_date OR #{endDate} BETWEEN cl.start_date AND cl.end_date
    </select>

    <select id="totalClassStudent" resultType="java.lang.Integer">
        SELECT COUNT(cls.student_id)
        FROM clazz cl
             INNER JOIN clazz_student cls ON cls.clazz_id = cl.`id`
        WHERE #{startDate} BETWEEN cl.start_date AND cl.end_date OR #{endDate} BETWEEN cl.start_date AND cl.end_date
    </select>

    <select id="countClassStudent" resultType="java.lang.Integer">
        SELECT COUNT(student_id) FROM clazz_student WHERE clazz_id = #{clazzId}
    </select>

    <select id="groupDormitoryTotal" resultType="cn.qbs.wa.train.logistics.pojo.stat.GroupDormitoryDTO">
        SELECT building, room_type, COUNT(id) AS roomNum FROM dormitory GROUP BY building, room_type
    </select>

    <select id="groupDormitoryUsage" resultType="cn.qbs.wa.train.logistics.pojo.stat.GroupDormitoryDTO">
        SELECT building, room_type, COUNT(DISTINCT room_no) AS usedNum
        FROM dormitory_schedule
        WHERE use_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY building, room_type
    </select>

    <select id="groupDormitoryTotalV2" resultType="cn.qbs.wa.train.logistics.pojo.stat.GroupDormitoryDTO">
        SELECT building, room_type_code AS roomType, room_type_name, room_num, maint_num, sort
        FROM dormitory_stat
        WHERE enabled = 1
    </select>

    <select id="groupDormitoryUsageV2" resultType="cn.qbs.wa.train.logistics.pojo.stat.GroupDormitoryFreeDTO">
        SELECT room_type_code, free AS freeNum
        FROM dormitory_stat_daily
        WHERE `day` = #{day}
    </select>

    <select id="groupClassroomTotal" resultType="cn.qbs.wa.train.logistics.pojo.stat.GroupClassroomDTO">
        SELECT room_type, COUNT(id) AS roomNum
        FROM classroom
        WHERE deleted = 0
        GROUP BY room_type
    </select>

    <select id="groupClassroomUsage" resultType="cn.qbs.wa.train.logistics.pojo.stat.GroupClassroomDTO">
        SELECT cl.room_type, COUNT(DISTINCT cl.id) AS usedNum
        FROM
            classroom_schedule cls
            INNER JOIN classroom cl ON cl.id = cls.classroom_id AND cl.deleted = 0
        WHERE cls.use_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY cl.room_type
    </select>
</mapper>