<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.train.logistics.mapper.OrganizationRoleMenuMapper">

    <resultMap type="cn.qbs.wa.train.logistics.entity.OrganizationRoleMenu" id="OrganizationRoleMenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into organization_role_menu(org_id, role_id, menu_id, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.orgId}, #{entity.roleId}, #{entity.menuId}, #{entity.createBy}, #{entity.createTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into organization_role_menu(org_id, role_id, menu_id, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.roleId}, #{entity.menuId}, #{entity.createBy}, #{entity.createTime})
        </foreach>
        on duplicate key update
        org_id = values(org_id) , role_id = values(role_id) , menu_id = values(menu_id) , create_by = values(create_by) , create_time = values(create_time)         $empty
    </insert>
    <delete id="deleteByAdminIds">
        DELETE FROM organization_role_menu WHERE  id in

        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </delete>

    <select id="page" resultType="cn.qbs.wa.train.logistics.pojo.organizationrolemenu.OrganizationRoleMenuPageResponse">
        select *
        from organization_role_menu
        <where>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.train.logistics.pojo.organizationrolemenu.OrganizationRoleMenuDetailResponse">
        select *
        from organization_role_menu
        where id = #{id}
    </select>
    <select id="listByAdmin" resultType="cn.qbs.wa.train.logistics.entity.OrganizationRoleMenu">
        select *
        from organization_role_menu
        where org_id = #{orgId}
    </select>
</mapper>

