<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.train.allowance.mapper.ExpertMapper">

    <resultMap type="cn.qbs.wa.train.allowance.entity.Expert" id="ExpertMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="idNumber" column="id_number" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="headImgUrl" column="head_img_url" jdbcType="VARCHAR"/>
        <result property="nation" column="nation" jdbcType="VARCHAR"/>
        <result property="education" column="education" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="politics" column="politics" jdbcType="VARCHAR"/>
        <result property="workDate" column="work_date" jdbcType="TIMESTAMP"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="bank" column="bank" jdbcType="VARCHAR"/>
        <result property="bankAccount" column="bank_account" jdbcType="VARCHAR"/>
        <result property="major" column="major" jdbcType="VARCHAR"/>
        <result property="school" column="school" jdbcType="VARCHAR"/>
        <result property="workUnit" column="work_unit" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="post" column="post" jdbcType="VARCHAR"/>
        <result property="achievement" column="achievement" jdbcType="VARCHAR"/>
        <result property="performance" column="performance" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into expert(name, sex, phone, id_number, birthday, head_img_url, nation, education,
        email, politics, work_date, address, bank, bank_account, major, school, work_unit, title, post, achievement,
        performance, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.sex}, #{entity.phone}, #{entity.idNumber}, #{entity.birthday},
            #{entity.headImgUrl}, #{entity.nation}, #{entity.education}, #{entity.email}, #{entity.politics},
            #{entity.workDate}, #{entity.address}, #{entity.bank}, #{entity.bankAccount}, #{entity.major},
            #{entity.school}, #{entity.workUnit}, #{entity.title}, #{entity.post}, #{entity.achievement},
            #{entity.performance}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into expert(name, sex, phone, id_number, birthday, head_img_url, nation, education,
        email, politics, work_date, address, bank, bank_account, major, school, work_unit, title, post, achievement,
        performance, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.sex}, #{entity.phone}, #{entity.idNumber}, #{entity.birthday},
            #{entity.headImgUrl}, #{entity.nation}, #{entity.education}, #{entity.email}, #{entity.politics},
            #{entity.workDate}, #{entity.address}, #{entity.bank}, #{entity.bankAccount}, #{entity.major},
            #{entity.school}, #{entity.workUnit}, #{entity.title}, #{entity.post}, #{entity.achievement},
            #{entity.performance}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        name = values(name) , sex = values(sex) , phone = values(phone) , id_number = values(id_number) , birthday =
        values(birthday) , head_img_url = values(head_img_url) , nation = values(nation) , education = values(education)
        , email = values(email) , politics = values(politics) , work_date = values(work_date) , address =
        values(address) , bank = values(bank) , bank_account = values(bank_account) , major = values(major) , school =
        values(school) , work_unit = values(work_unit) , title = values(title) , post = values(post) , achievement =
        values(achievement) , performance = values(performance) , create_by = values(create_by) , create_time =
        values(create_time) , update_by = values(update_by) , update_time = values(update_time) $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.train.allowance.pojo.expert.ExpertPageResponse">
        select *
        from expert
        <where>
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            <if test="params.phone != null and params.phone != '' ">
                and phone = #{params.phone}
            </if>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.train.allowance.pojo.expert.ExpertDetailResponse">
        select *
        from expert
        where id = #{id}
    </select>
</mapper>

