/**
* colors-style
* 基于 knight-common-styles 中style-color方法定义的全局颜色相关样式
* .text-name
* .bg-name
* .border-name
* .border-top-name
* .border-bottom-name
* .border-left-name
* .border-right-name
*/
@import "../../node_modules/knight-common-styles/stylus"

style-color(main, MAIN_COLOR)
style-color(sub, SUB_COLOR)
style-color(sub-light, SUB_LIGHT_COLOR)
style-color(emb, EMBELLISH_COLOR)
style-color(emb-light, EMBELLISH_LIGHT_COLOR)

style-color(normal, NORMAL_COLOR)
style-color(hover, HOVER_COLOR)
style-color(active, ACTIVE_COLOR)
style-color(disabled, DISABLED_COLOR)
style-color(shadow, SHADOW_COLOR)
style-color(background, BACKGROUND_COLOR)
style-color(global-background, GLOBAL_BACKGROUND_COLOR)
style-color(white-background,NEUTRAL_COLOR_1C)

style-color(success, SUCCESS_COLOR)
style-color(warning, WARNING_COLOR)
style-color(error, ERROR_COLOR)
style-color(info, INFO_COLOR)

style-color(3, NEUTRAL_COLOR_3)
style-color(6, NEUTRAL_COLOR_6)
style-color(9, NEUTRAL_COLOR_9)
style-color(c, NEUTRAL_COLOR_C)
style-color(e, NEUTRAL_COLOR_E)
style-color(e6, NEUTRAL_COLOR_E6)
style-color(f, NEUTRAL_COLOR_F)
style-color(f2, NEUTRAL_COLOR_F2)