<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.cert.mapper.AwardRecordMapper">

    <resultMap type="cn.qbs.wa.teach.cert.entity.AwardRecord" id="AwardRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="certId" column="cert_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into award_record(org_id, cert_id, user_id, student_id, create_time, create_by)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.certId}, #{entity.userId}, #{entity.studentId}, #{entity.createTime},
            #{entity.createBy})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into award_record(org_id, cert_id, user_id, employee_id, create_time, create_by)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.certId}, #{entity.userId}, #{entity.employeeId}, #{entity.createTime},
            #{entity.createBy})
        </foreach>
        on duplicate key update
        org_id = values(org_id) , cert_id = values(cert_id) , user_id = values(user_id) , student_id =
        values(student_id) , create_time = values(create_time) , create_by = values(create_by) $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.teach.cert.pojo.awardrecord.AwardRecordPageResponse">
        select *
        from award_record
        where
        cert_id=#{params.certId}
        <!--<if test="params.sourceId != null and params.sourceId != ''">
            and source_id=#{params.sourceId}
        </if>-->
        order by id desc
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.teach.cert.pojo.awardrecord.AwardRecordDetailResponse">
        select *
        from award_record
        where id = #{id}
    </select>
    <select id="listAwardCount" resultType="cn.qbs.wa.teach.cert.pojo.awardrecord.AwardRecordCountResponse">
        SELECT
        cert_id AS certId,
        count( DISTINCT user_id ) AS awardCount,
        count( DISTINCT IF ( enabled = 1, user_id, NULL ) ) AS awardEffectiveCount
        FROM
        award_record
        WHERE
        cert_id IN
        <foreach collection="certIdList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        GROUP BY
        cert_id


    </select>
    <select id="selectConditionPage"
            resultType="cn.qbs.wa.teach.cert.pojo.awardrecord.AwardRecordPageResponse">
        SELECT
        ar.*
        FROM
        award_record ar
        LEFT JOIN award_record_detail ard ON ard.award_record_id = ar.id
        <where>

            AND ar.cert_id=#{params.certId}
            <if test="params.searchList!=null and params.searchList.size() > 0 ">
                AND ard.`code` in
                <foreach collection="params.searchList" index="index" item="item" open="(" close=")" separator=",">
                    #{item.code}
                </foreach>
                AND ard.key_value in
                <foreach collection="params.searchList" index="index" item="item" open="(" close=")" separator=",">
                    #{item.keyValue}
                </foreach>
            </if>

        </where>
        group by ar.id
        order by ar.id desc
    </select>
    <select id="selectConditionList" resultType="cn.qbs.wa.teach.cert.entity.AwardRecord">
        SELECT
        ar.*
        FROM
        award_record ar
        LEFT JOIN award_record_detail ard ON ard.award_record_id = ar.id and ard.type=2
        <where>

            AND ar.cert_id=#{certId}
            <if test="searchList!=null and searchList.size() > 0 ">
                AND ard.`code` in
                <foreach collection="searchList" index="index" item="item" open="(" close=")" separator=",">
                    #{item.code}
                </foreach>
                AND ard.key_value in
                <foreach collection="searchList" index="index" item="item" open="(" close=")" separator=",">
                    #{item.keyValue}
                </foreach>
            </if>

        </where>
        order by ar.id desc
    </select>

</mapper>

