<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.basic.mapper.RoleMapper">

    <resultMap type="cn.qbs.wa.teach.basic.entity.Role" id="RoleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into role(org_id, app_id, code, name, remark, sort, enabled, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.orgId}, #{entity.appId}, #{entity.code}, #{entity.name}, #{entity.remark}, #{entity.sort}, #{entity.enabled}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into role(org_id, app_id, code, name, remark, sort, enabled, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.appId}, #{entity.code}, #{entity.name}, #{entity.remark}, #{entity.sort}, #{entity.enabled}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        org_id = values(org_id) , app_id = values(app_id) , code = values(code) , name = values(name) , remark = values(remark) , sort = values(sort) , enabled = values(enabled) , create_by = values(create_by) , create_time = values(create_time) , update_by = values(update_by) , update_time = values(update_time)         $empty
    </insert>
    <select id="pageRole" resultType="cn.qbs.wa.teach.basic.pojo.role.RolePageResponse">
        SELECT
            r.id,
            r.`name` AS NAME,
            GROUP_CONCAT( m.NAME SEPARATOR ',' ) as menuNames,
            r.enabled,
            r.remark,
            r.sort,
            r.code
        FROM
            role r
                LEFT JOIN role_menu rm ON rm.role_id = r.id
                LEFT JOIN menu m ON m.id = rm.menu_id and m.enabled=1
        <where>
            <if test="request.enabled != null">
                and r.enabled = #{request.enabled}
            </if>
            <if test="request.name != null and request.name != '' ">
                and r.name like concat('%', #{request.name}, '%')
            </if>

        </where>
        GROUP BY
            r.id
        order by r.sort


    </select>

</mapper>

