<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.course.standard.mapper.CategoryDistributionMapper">

    <resultMap type="cn.qbs.wa.teach.course.common.entity.CategoryDistribution" id="CategoryDistributionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="categoryCode" column="category_code" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into category_distribution(org_id, category_id, count, category_code, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.orgId}, #{entity.categoryId}, #{entity.count}, #{entity.categoryCode}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into category_distribution(org_id, category_id, count, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.categoryId}, #{entity.count}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        org_id = values(org_id) , category_id = values(category_id) , count = values(count) , create_time = values(create_time) , update_time = values(update_time)         $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.teach.course.standard.pojo.categorydistribution.CategoryDistributionPageResponse">
        select *
        from category_distribution
        <where>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.teach.course.standard.pojo.categorydistribution.CategoryDistributionDetailResponse">
        select *
        from category_distribution
        where id = #{id}
    </select>

    <update id="incrCourseCount">
        update category_distribution set `count` = `count` + #{count} where category_id = #{categoryId}
    </update>

    <update id="decrCourseCount">
        update category_distribution set `count` = `count` - #{count} where category_id = #{categoryId}
    </update>
</mapper>

