<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.course.standard.mapper.CourseCategoryMapper">

    <resultMap type="cn.qbs.wa.teach.course.standard.pojo.dto.CourseCategoryDTO" id="CourseCategoryMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="orgId" column="org_id" jdbcType="BIGINT"/>
        <result property="courseId" column="course_id" jdbcType="BIGINT"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into course_category(org_id, course_id, category_id, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.orgId}, #{entity.courseId}, #{entity.categoryId}, #{entity.createBy}, #{entity.createTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into course_category(org_id, course_id, category_id, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.courseId}, #{entity.categoryId}, #{entity.createBy}, #{entity.createTime})
        </foreach>
        on duplicate key update
        org_id = values(org_id) , course_id = values(course_id) , category_id = values(category_id) , create_by = values(create_by) , create_time = values(create_time)         $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.teach.course.standard.pojo.coursecategory.CourseCategoryPageResponse">
        select *
        from course_category
        <where>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.teach.course.standard.pojo.coursecategory.CourseCategoryDetailResponse">
        select *
        from course_category
        where id = #{id}
    </select>

    <select id="listByCourseId" resultMap="CourseCategoryMap">
        select cc.id, cc.org_id, cc.course_id, cc.category_id, c.category_name
        from course_category cc inner join category c on c.id = cc.category_id
        where cc.course_id = #{courseId}
    </select>

    <select id="categoryCount" resultType="java.lang.Long">
        select count(distinct cc.course_id)
        from course_category cc
            left join course co on cc.course_id = co.id
            left join course_lecturer cl on cc.course_id = cl.course_id
            left join course_student cos on cc.course_id = cos.course_id
        where co.deleted = 0 and cc.category_id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="lecturerId != null">
            and cl.lecturer_id = #{lecturerId}
        </if>
        <if test="studentId != null">
            and cos.student_id = #{studentId}
        </if>
    </select>

</mapper>

