<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.course.standard.mapper.LiteActivityMapper">

    <select id="page" resultType="cn.qbs.wa.teach.course.standard.pojo.tactivity.LiteActivityPageResponse">
        SELECT id, title, cover_url, activity_time, shelf_time
        FROM t_activity
        <where>
            shelf_status = 1
            <if test="params.title != null and params.title != ''">
                AND title LIKE concat('%', #{params.title}, '%')
            </if>
        </where>
        ORDER BY sort, shelf_time DESC
    </select>

    <select id="getById" resultType="cn.qbs.wa.teach.course.standard.pojo.tactivity.LiteActivityResponse">
        SELECT id, title, cover_url, shelf_time, activity_time, introduction
        FROM t_activity
        WHERE id = #{id} AND shelf_status = 1
    </select>

</mapper>

