<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.organization.mapper.InvitationDeptMapper">

    <resultMap type="cn.qbs.wa.teach.organization.entity.InvitationDept" id="InvitationDeptMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="invitationId" column="invitation_id" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into wa_teach_organization.invitation_dept(org_id, invitation_id, dept_id, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.invitationId}, #{entity.deptId}, #{entity.createBy}, #{entity.createTime})
        </foreach>
    </insert>

    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into wa_teach_organization.invitation_dept(org_id, invitation_id, dept_id, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.invitationId}, #{entity.deptId}, #{entity.createBy}, #{entity.createTime})
        </foreach>
        on duplicate key update
        org_id = values(org_id) , invitation_id = values(invitation_id) , dept_id = values(dept_id) , create_by =
        values(create_by) , create_time = values(create_time) $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.teach.organization.pojo.invitationdept.InvitationDeptPageResponse">
        select *
        from invitation_dept
        <where>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById"
            resultType="cn.qbs.wa.teach.organization.pojo.invitationdept.InvitationDeptDetailResponse">
        select *
        from invitation_dept
        where id = #{id}
    </select>
</mapper>

