<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qbs.wa.teach.organization.mapper.OrganizationConfigMapper">

    <resultMap type="cn.qbs.wa.teach.organization.entity.OrganizationConfig" id="OrganizationConfigMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="text" column="text" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into wa_teach_organization.organization_config(org_id, type, text, create_by, update_by, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.orgId}, #{entity.type}, #{entity.text}, #{entity.createBy}, #{entity.updateBy}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>
    
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into wa_teach_organization.organization_config(org_id, type, text, create_by, update_by, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orgId}, #{entity.type}, #{entity.text}, #{entity.createBy}, #{entity.updateBy}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        org_id = values(org_id) , type = values(type) , text = values(text) , create_by = values(create_by) , update_by = values(update_by) , create_time = values(create_time) , update_time = values(update_time)         $empty
    </insert>

    <select id="page" resultType="cn.qbs.wa.teach.organization.pojo.organizationconfig.OrganizationConfigPageResponse">
        select *
        from organization_config
        <where>
            <!-- 示例代码，自行修改 -->
            <!--
            <if test="params.name != null and params.name != '' ">
                and name like concat('%', #{params.name}, '%')
            </if>
            -->
        </where>
    </select>

    <select id="selectDetailById" resultType="cn.qbs.wa.teach.organization.pojo.organizationconfig.OrganizationConfigDetailResponse">
        select *
        from organization_config
        where id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="insertByDefault">
        insert into organization_config(org_id, `type`, text)
        values (#{entity.orgId}, #{entity.type}, #{entity.text})
    </insert>

    <select id="loginPage" resultType="cn.qbs.wa.teach.organization.pojo.organizationconfig.OrganizationDecorationDTO">
        select o.`name` AS orgName, oc.org_id, oc.login_poster_url
        from organization o
        left join organization_config oc on oc.org_id = o.id
        where o.id = #{orgId}
    </select>
</mapper>

